{% extends 'RealmApp/base.html' %}
{% block title %}Realm{% endblock title %}
{% block content %}
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" id="logo" href="#">
               Realm
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item">
                    Services
                </a>
            </div>
        </div>
    </div>
</nav> 
{% endblock %}
